<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA81AcMhMx_pks59DMHXJ-vr9JRwsxJta0</string>
	<key>GCM_SENDER_ID</key>
	<string>665812741473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unity.path2power</string>
	<key>PROJECT_ID</key>
	<string>segp-03</string>
	<key>STORAGE_BUCKET</key>
	<string>segp-03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665812741473:ios:c87ac78cafac087df66920</string>
	<key>DATABASE_URL</key>
	<string>https://segp-03-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>